.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    border: none;
    background-color: yellow;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    text-decoration: none;
    &:hover {
      background-color: #f7d154;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
